.Add_text_update{
    border: 0px solid;
    background: transparent;
    width: 93%;
    height: 140px;
    position: absolute;
    top: 55%;
    font-size: 30px;
    color: white;
}
/* .Uploaded_text{

} */
.uptext{
    margin: auto;
    font-size: 22px;
    font-weight: 700;
    bottom:3rem;
    text-align: center;
}